.login-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login-form-wrapper .login-form-element-wrapper {
    width: 300px;
    margin-bottom: 10px;
}